<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&family=Paytone+One&display=swap" rel="stylesheet">
    <title>Productos</title>
</head>

<body>
	
    <header>
		
		<div class="main-nav">
			<img src="../images/logo.png" alt="logo" width="3.5%">

			<nav class="main-nav__list">
				<ul class="main-nav__item">
					<li class="main-nav__link"><a href="../index.html">NOSOTROS</a></li>
					<li class="main-nav__link"><a href="./productos.html">PRODUCTOS</a></li>
					<li class="main-nav__link"><a href="./servicios.html">SERVICIOS</a></li>
					<li class="main-nav__link"><a href="./promos.html">OFERTAS</a></li>
					<li class="main-nav__link"><a href="./contacto.html">CONTACTO</a></li>
				</ul>
			</nav>
		</div>
	</header>
    
    <section id="productos" class="cntGeneral">
		<h2 class="title">Productos</h2>
	</section>

	<section>
		<div class="gridContainer">
			<div class="gridItem gridItem1">
				<div class="imgItem imgItem1">
					<div class="itemName">Tortas</div>
				</div>
			</div>

			<div class="gridItem gridItem2">
				<div class="imgItem imgItem2">
					<div class="itemName">Macarons</div>
				</div>
			</div>

			<div class="gridItem gridItem3">
				<div class="imgItem imgItem3">
					<div class="itemName">Cupcakes</div>
				</div>
			</div>

			<div class="gridItem gridItem4">
				<div class="imgItem imgItem4">
					<div class="itemName">Tartas</div>
				</div>
			</div>

			<div class="gridItem gridItem5">
				<div class="imgItem imgItem5">
					<div class="itemName">Donas</div>
				</div>
			</div>

			<div class="gridItem gridItem6">
				<div class="imgItem imgItem6">
					<div class="itemName">Cake Pops</div>
				</div>
			</div>
		</div>
	</section>

    <footer>
		<span>© 2021— My Bakery Bake Page</span>

		<!-- iconos de redes sociales -->
	</footer>
</body>
</html>