@import url(./variables.scss);
/* Seccion Contacto */

.cntContacto {
    padding-top: 250px !important;
    background-image: url(../images/contactBg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.contactCard {
    min-width: 800px;
    background-color: $colorWhitePure;
    border-radius: .25rem;
    border: 1px solid $colorBlack;

    &__title {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 25px;
    }
    
    &__section {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 20px;
        align-items: center;
        padding: 35px 0;
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    &__icon {
        height: 40px;
        width: 40px;
        fill: $colorGray2;
        
        &:hover {
            fill: $colorPink;
            transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;
        }
    }
    
    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    &__iconTitle {
        font-size: 25px;
    }
    
    &__detail {
        color: $colorGrayLight;
        font-size: 18px;
    }
    
    &__contacts{
        font-size: 25px;
    }
    
    &__Smedia {
        display: flex;

        &__icon {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px dashed $colorGrayLight;
            background-clip: content-box;
            padding: 4px;
            transition: .5s;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            &:hover {
                padding: 6px;
                transform: rotate(360deg);
            }

            & svg {
                fill: $colorWhitePure;
                width: 18px;
            }

            &.whatsapp {
                background: $colorWhatsApp;
                background-clip: content-box;
            }
            
            &.instagram {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 05%, #fd5949 60%,#d6249f 90%);
                background-clip: content-box;
            }
            
            &.twitter {
                background-color: $colorTwitter;
            }
            
            &.facebook {
                background-color: $colorFacebook;
            }
        }
    } 
}

  

/* Formulario de contacto */

.formCnt {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    &__card {
        padding: 30px;
        width: 1000px;

        & .row {
            padding-bottom: 10px;
        }

        & .form-control,
        & .form-check-input {
            transition: border-color cubic-bezier(0.755, 0.05, 0.855, 0.06) .25s;
            
            &:focus {
                border-color: $colorPink;
                box-shadow: none;
            }
        }
        & .form-check-input:checked {
            background-color: $colorPink;
            border-color: $colorPink;
        }
        & .btn-primary {
            background-color: $colorPink;
            border-color: $colorPink;

            &:focus {
                box-shadow: none;
            }
            
            &:active {
                background-color: $colorPinkLight;
            }
        }
        
    }   
}
