@import url(./variables.scss);

/* barra de navegacion */

.main-nav {
    background-color: $colorGrayTransparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 90px;

    &__logo {
        width: 50px;

        &:hover {
            animation: shake 0.5s;
        }
        
        @keyframes shake {
            0% { transform: rotate(0deg); }
            10% { transform: rotate(-3deg); }
            20% { transform: rotate(2deg); }
            30% { transform: rotate(0deg); }
            40% { transform: rotate(1deg); }
            50% { transform: rotate(-2deg); }
            60% { transform: rotate(0deg); }
            70% { transform: rotate(-3deg); }
            80% { transform: rotate(1deg); }
            90% { transform: rotate(-1deg); }
            100% { transform: rotate(0deg); }
        }

        @media (max-width: 767px) {
            width: 40px;
        }
    }
    
    &__list {
        @media (max-width: 768px) {
            &.menu-open{ 
                & .close {
                    display: block;
                }
                & .open {
                    display: none;
                }
                & .main-nav__item {
                    display: flex;
                }
            }
        }
    }

    &__button {
        display: none;

        @media (max-width: 767px) {
            display: inline-block;

            &__icon {
                font-size: 32px;
                cursor: pointer;
                color: $colorWhite; 

                &.close {
                    display: none;
                }
            }

        }
    }

    &__item {
        list-style: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        @media (max-width: 767px) {
            display: none;
            background-color: $colorGrayTransparent;
            position: absolute;
            top: 60px;
            right: 0;
            width: 100%;
            height: calc(100vh - 60px);
            padding-left: 0;
            text-align: center;
            flex-direction: column;
            justify-content: space-evenly;
        }

    }

    &__link {
        justify-content: space-between;
        padding: 14px 16px;

        & a {
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 18px;
            color: $colorWhite;
            text-align: center;

            &:hover {
                color: $colorPink;
                transition: color ease-in-out .15s;

                &.selected {
                    border-bottom-color: $colorPink;
                    transition: color ease-in-out .15s;
                }
            }

            &.selected {
                border-bottom: 2px solid $colorWhite;
            }

            @media (max-width: 767px) {
                font-family: 'Paytone One', sans-serif;
                font-size: 27px;
                padding: 15px;
            }

        }
    }

    @media (max-width: 1440px) {
        padding: 0 40px;
    }

    @media (max-width: 767px) {
        height: 60px;
        padding: 0 20px;
    }
}

.cntFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: $colorGrayTransparent;
    margin-top: 20px;

    span {
        color: $colorWhitePure;
    }

    .socialMedia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        list-style: none;
        font-size: 25px;
        width: 200px;
        margin-bottom: 0;
        padding: 10px 0;

        .iconColor{
            color: $colorWhitePure;
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
}
