@import url(./variables.scss);

/* Seccion Home */
.cntHome {
    height: 100vh;
    width: 100%;
    justify-content: center;

    & .carousel-control-prev, 
    & .carousel-control-next {
        height: 30px;
        top: 50%;
    }
    .carouselItem {
        height: 100vh;
        
        &.carouselItem1 {
            background-image: url(../images/swiper_3.jpg);
        }
        
        &.carouselItem2 {
            background-image: url(../images/swiper_2.png);
            background-size: cover;
        }
        
        &.carouselItem3 {
            background-image: url(../images/swiper_1.jpg);
        }
    }

    &__box {
        position: absolute;
        top: 35%;
        left: 25%;
        align-self: center;
    }
}
    
/* Seccion Nosotros */

.bgNosotros {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px;
    justify-content: space-between;

    &__cntNosotros{ 
        width: 48%;

        &-description {
            display: flex;
            flex-wrap: wrap;
        }
        
        .cnt-bttn {
            width: 255px;
            height: 56px;
            cursor: pointer;
            margin-top: 20px;
            background-color: $colorWhitePure;
        }
        
        .bttn {
            border: 4px solid $colorBlueLight;
            border-radius: 4px;
            padding: 12px;
            text-decoration: none;
            font-weight: 800;
            color: $colorPink;
            display: inline-block;
        }
        
        .bttn:hover {
            background-position: 100% 0;
            transition: all .4s ease-in-out;
            color: $colorGray;
            
        }
    }
    
    &__cntImg {
        display: flex;
        flex-direction: row;
        width: 48%;
        justify-content: space-evenly;

        & .item {
            max-height: 400px;
        
            &--alt {
                margin-top: 200px;
            }
        }
    }
}




