@import url(./variables.scss);

$medidaMain: 300px;
/* Seccion Promos */

.offers {
    display: flex;
    flex-direction: column;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__cards {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        order: inherit;

        .box {
            width: 30%;
            height: 450px;

            &__img {
                border-radius: 5%;
                display: flex;
                width: 100%;
                height: $medidaMain +30px;
                background-position: center;
                background-size: cover;
            }
            
            &__title {
                width: 100%;
                background-color:$colorRed;
                height: 45px;    
                color: $colorBeige;
                font-size: 20px;
                font-weight: bold;
                margin-top: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__description {
                align-content: center;
                display: flex;
                justify-content: center;
                margin: 20px;
                text-align: center;
                
                &:hover {
                    color: $colorPink;
                }
            }
            
            .promo1 {
                background-image: url(../images/promo1.jpg);
            }
            
            .promo2 {    
                background-image: url(../images/promo2.jpg);
            }
            
            .promo3 {
                background-image: url(../images/promo3.jpg);
            }
        }
    }
}