@import url(./variables.scss);

$medidaMain: 300px;
/* Seccion Promos */

.offers {
    display: flex;
    flex-direction: column;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        order: inherit;
        gap: 30px;
    }

    .card{ 
        width: 30%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }
    
    .bakeryCardTitle {
        position: absolute;
        top: 220px;
        font-size: 1.25rem;
        font-weight: 700;
        width: 100%;
        left: 0;
        color: $colorWhitePure;
        background-color: $colorRed;
        text-align: center;
        padding: 5px;
    }

    .bakeryCardText {
        font-size: 18px;
    }

    .promo1 {
        background-image: url(../images/promo1.jpg);
    }
    
    .promo2 {    
        background-image: url(../images/promo2.jpg);
    }
    
    .promo3 {
        background-image: url(../images/promo3.jpg);
    }
}