
@import './variables.scss';

* {
    box-sizing: border-box;
    color: $colorGrayFont;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(255,255,255,0.93), rgba(255,255,255,.93)), 
    url(../images/pattern.jpg);
    background-repeat: repeat;
}
