
@import './variables.scss';

* {
    box-sizing: border-box;
    color: $colorGray;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
}

body {
    background-color: $colorWhite;
}
