/* 
 Paleta de colores:
    Rojo: #A62E44;
    Gris: #514C57;
    gris claro: #514c579a;
    Rosa: #F2A7BB;
    Celeste: #41CAD9;
    Amarillo: #FFFF9C
    Blanco: #F7FFF4;
*/
@import url(./variables.scss);
@import url(./variables.scss);
@import url(./variables.scss);
@import url(./variables.scss);
@import url(./variables.scss);
@import url(./variables.scss);
* {
  box-sizing: border-box;
  color: #737373;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), url(../images/pattern.jpg);
  background-repeat: repeat;
}

/* 
 Paleta de colores:
    Rojo: #A62E44;
    Gris: #514C57;
    gris claro: #514c579a;
    Rosa: #F2A7BB;
    Celeste: #41CAD9;
    Amarillo: #FFFF9C
    Blanco: #F7FFF4;
*/
/* 
font-family: 'Paytone One', sans-serif;
font-family: 'Mr De Haviland', cursive;
font-family: 'Open Sans', sans-serif;
 */
/* barra de navegacion */
.main-nav {
  background-color: #2b2a2c99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 90px;
}
.main-nav__logo {
  width: 50px;
}
.main-nav__logo:hover {
  animation: shake 0.5s;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(2deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (max-width: 767px) {
  .main-nav__logo {
    width: 40px;
  }
}
@media (max-width: 768px) {
  .main-nav__list.menu-open .close {
    display: block;
  }
  .main-nav__list.menu-open .open {
    display: none;
  }
  .main-nav__list.menu-open .main-nav__item {
    display: flex;
  }
}
.main-nav__button {
  display: none;
}
@media (max-width: 767px) {
  .main-nav__button {
    display: inline-block;
  }
  .main-nav__button__icon {
    font-size: 32px;
    cursor: pointer;
    color: #F7FFF4;
  }
  .main-nav__button__icon.close {
    display: none;
  }
}
.main-nav__item {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .main-nav__item {
    display: none;
    background-color: #2b2a2c99;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    padding-left: 0;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.main-nav__link {
  justify-content: space-between;
  padding: 14px 16px;
}
.main-nav__link a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #F7FFF4;
  text-align: center;
}
.main-nav__link a:hover {
  color: #F2A7BB;
  transition: color ease-in-out 0.15s;
}
.main-nav__link a:hover.selected {
  border-bottom-color: #F2A7BB;
  transition: color ease-in-out 0.15s;
}
.main-nav__link a.selected {
  border-bottom: 2px solid #F7FFF4;
}
@media (max-width: 767px) {
  .main-nav__link a {
    font-family: "Paytone One", sans-serif;
    font-size: 27px;
    padding: 15px;
  }
}
@media (max-width: 1440px) {
  .main-nav {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .main-nav {
    height: 60px;
    padding: 0 20px;
  }
}

.cntFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #2b2a2c99;
  margin-top: 20px;
}
.cntFooter span {
  color: #ffffff;
}
.cntFooter .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  width: 200px;
  margin-bottom: 0;
  padding: 10px 0;
}
.cntFooter .socialMedia .iconColor {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cntFooter {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
}

/* Seccion Home */
.cntHome {
  height: 100vh;
  width: 100%;
  justify-content: center;
}
.cntHome .carousel-control-prev, .cntHome .carousel-control-next {
  height: 30px;
  top: 50%;
}
.cntHome .carouselItem {
  height: 100vh;
}
.cntHome .carouselItem.carouselItem1 {
  background-image: url(../images/swiper_3.jpg);
}
.cntHome .carouselItem.carouselItem2 {
  background-image: url(../images/swiper_2.png);
  background-size: cover;
}
.cntHome .carouselItem.carouselItem3 {
  background-image: url(../images/swiper_1.jpg);
}
.cntHome__box {
  position: absolute;
  top: 35%;
  left: 0;
  align-self: center;
  width: 100%;
}
@media (max-width: 1440px) {
  .cntHome__box {
    top: 20%;
  }
  .cntHome__box h1 {
    font-size: 11em;
  }
  .cntHome__box h1 span {
    font-size: 1.2em;
  }
  .cntHome__box p {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .cntHome__box {
    top: 30%;
  }
  .cntHome__box h1 {
    font-size: 9em;
  }
  .cntHome__box p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .cntHome__box {
    top: 35%;
  }
  .cntHome__box h1 {
    font-size: 4.5em;
  }
  .cntHome__box h1 span {
    font-size: 1.2em;
  }
  .cntHome__box p {
    font-size: 14px;
  }
}

/* Seccion Nosotros */
.bgNosotros {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 100px;
  justify-content: space-between;
}
.bgNosotros__cntNosotros {
  width: 48%;
}
.bgNosotros__cntNosotros-description {
  display: flex;
  flex-wrap: wrap;
}
.bgNosotros__cntNosotros .cnt-bttn {
  width: 255px;
  height: 56px;
  cursor: pointer;
  margin-top: 20px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .bgNosotros__cntNosotros .cnt-bttn {
    width: 100%;
  }
}
.bgNosotros__cntNosotros .bttn {
  border: 4px solid #41CAD9;
  border-radius: 4px;
  padding: 12px;
  text-decoration: none;
  font-weight: 800;
  color: #F2A7BB;
  display: inline-block;
}
@media (max-width: 767px) {
  .bgNosotros__cntNosotros .bttn {
    text-align: center;
    width: 100%;
  }
}
.bgNosotros__cntNosotros .bttn:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  color: #514C57;
}
@media (max-width: 1440px) {
  .bgNosotros__cntNosotros {
    width: 100%;
  }
}
.bgNosotros__cntGrid {
  display: grid;
  grid-template-areas: "Item1 Item1 Item2 Item3 Item3 Item3" "Item4 Item5 Item5 Item5 Item6 Item6" "Item7 Item7 Item7 Item8 Item6 Item6";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 48%;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0px 5px 10px #2b2a2c99;
  background-color: #ffffff;
  padding: 20px;
}
.bgNosotros__cntGrid:hover {
  transform: scale(1.01);
  transition: all ease 0.25s;
}
.bgNosotros__cntGrid__item1 {
  grid-area: Item1;
  background-image: url(../images/amasando.png);
  background-size: cover;
}
.bgNosotros__cntGrid__item2 {
  grid-area: Item2;
  background-color: #ffecef;
}
.bgNosotros__cntGrid__item3 {
  grid-area: Item3;
  background-image: url(../images/cookie-chips.png);
  background-size: cover;
  background-position: center;
}
.bgNosotros__cntGrid__item4 {
  grid-area: Item4;
  background-color: #d2f4f8;
}
.bgNosotros__cntGrid__item5 {
  grid-area: Item5;
  background-image: url(../images/palo.png);
  background-size: cover;
  background-position: center;
}
.bgNosotros__cntGrid__item6 {
  grid-area: Item6;
  background-image: url(../images/chelsea.jpg);
  background-size: cover;
}
.bgNosotros__cntGrid__item7 {
  grid-area: Item7;
  background-image: url(../images/love.png);
  background-size: cover;
  background-position: center;
}
.bgNosotros__cntGrid__item8 {
  grid-area: Item8;
  background-color: #ffffc6;
}
@media (max-width: 1440px) {
  .bgNosotros__cntGrid {
    height: 600px;
    margin-top: 30px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .bgNosotros__cntGrid {
    display: none;
  }
}
@media (max-width: 1440px) {
  .bgNosotros {
    flex-direction: column;
    padding: 100px 20px;
    width: 100%;
  }
}

/* Seccion Productos */
.prodGrid {
  display: grid;
  grid-template-areas: "gridItem1 gridItem1 gridItem2" "gridItem3 gridItem4 gridItem5" "gridItem3 gridItem6 gridItem6";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
}
.prodGrid__item {
  background-color: #00000020;
  margin: 0;
  padding: 0;
  min-height: 550px;
  overflow: hidden;
}
.prodGrid__item .itemName {
  color: #ffffff;
  border: 5px solid #ffffff;
  padding: 20px 35px;
  font-size: 40px;
  font-weight: bold;
  z-index: 1;
}
@media (max-width: 768px) {
  .prodGrid__item .itemName {
    font-size: 25px;
    padding: 12px 20px;
  }
}
@media (max-width: 768px) {
  .prodGrid__item {
    min-height: 300px;
  }
}
.prodGrid__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prodGrid__img:hover {
  transform: scale(1.02);
  transition: all ease 0.35s;
}
.prodGrid__img:hover:after {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.prodGrid .gridItem1 {
  grid-area: gridItem1;
}
.prodGrid .imgItem1 {
  background-image: url("../images/tortas.jpg");
}
.prodGrid .gridItem2 {
  grid-area: gridItem2;
}
.prodGrid .imgItem2 {
  background-image: url("../images/macaron.jpg");
}
.prodGrid .gridItem3 {
  grid-area: gridItem3;
}
.prodGrid .imgItem3 {
  background-image: url("../images/cupcakesProd.jpg");
}
.prodGrid .gridItem4 {
  grid-area: gridItem4;
}
.prodGrid .imgItem4 {
  background-image: url("../images/tarta.jpg");
}
.prodGrid .gridItem5 {
  grid-area: gridItem5;
}
.prodGrid .imgItem5 {
  background-image: url("../images/donut.jpg");
}
.prodGrid .gridItem6 {
  grid-area: gridItem6;
}
.prodGrid .imgItem6 {
  background-image: url("../images/cakepops.jpg");
}
@media (max-width: 767px) {
  .prodGrid {
    grid-template-areas: "gridItem1" "gridItem2" "gridItem3" "gridItem4" "gridItem5" "gridItem6";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

/* Seccion Servicios */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.card:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.1s;
}

.bakeryCardTitle {
  color: #A62E44;
  font-weight: 700;
}

.bakeryCardText {
  font-size: 14px;
  color: #514C57;
}

.imgBox {
  background-size: cover;
  height: 280px;
  background-position: center;
}

.box1 {
  background-image: url(../images/tortaTematica.jpg);
}

.box2 {
  background-image: url(../images/mesaDulce.jpg);
}

.box3 {
  background-image: url(../images/box.jpg);
}

.box4 {
  background-image: url(../images/cookies.jpg);
}

.box5 {
  background-image: url(../images/numberCake.jpg);
}

.box6 {
  background-image: url(../images/candyBar.png);
}

.box7 {
  background-image: url(../images/bombones.png);
  background-position: center;
}

.box8 {
  background-image: url(../images/pascua.png);
}

/* Seccion Promos */
.offers {
  display: flex;
  flex-direction: column;
}
.offers__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offers__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  order: inherit;
  gap: 30px;
}
.offers .card {
  width: 30%;
}
@media (max-width: 767px) {
  .offers .card {
    width: 100%;
  }
}
.offers .bakeryCardTitle {
  position: absolute;
  top: 220px;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  left: 0;
  color: #ffffff;
  background-color: #A62E44;
  text-align: center;
  padding: 5px;
}
.offers .bakeryCardText {
  font-size: 18px;
}
.offers .promo1 {
  background-image: url(../images/promo1.jpg);
}
.offers .promo2 {
  background-image: url(../images/promo2.jpg);
}
.offers .promo3 {
  background-image: url(../images/promo3.jpg);
}

/* Seccion Contacto */
.cntContacto {
  padding-top: 250px !important;
  background-image: url(../images/contactBg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1440px) {
  .cntContacto {
    background-image: url(../images/contactBg-tablet.jpg);
    padding-top: 150px !important;
  }
}
@media (max-width: 767px) {
  .cntContacto {
    background-image: url(../images/contactBg-phone.jpg);
  }
}
@media (max-width: 576px) {
  .cntContacto {
    background-image: url(../images/contactBg-phone2.jpg);
  }
}

.contactCard {
  min-width: 800px;
  background-color: #ffffff;
  border-radius: 0.25rem;
  border: 1px solid #00000020;
}
.contactCard__title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 25px;
}
.contactCard__section {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
  align-items: center;
  padding: 35px 0;
}
.contactCard__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.contactCard__icon {
  height: 40px;
  width: 40px;
  fill: #514c57d3;
}
.contactCard__icon:hover {
  fill: #F2A7BB;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
}
.contactCard__info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contactCard__iconTitle {
  font-size: 25px;
}
.contactCard__detail {
  color: #514c579a;
  font-size: 18px;
}
.contactCard__contacts {
  font-size: 25px;
}
.contactCard__Smedia {
  display: flex;
}
.contactCard__Smedia__icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed #514c579a;
  background-clip: content-box;
  padding: 4px;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.contactCard__Smedia__icon:hover {
  padding: 6px;
  transform: rotate(360deg);
}
.contactCard__Smedia__icon svg {
  fill: #ffffff;
  width: 18px;
}
.contactCard__Smedia__icon.whatsapp {
  background: #00e676;
  background-clip: content-box;
}
.contactCard__Smedia__icon.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 60%, #d6249f 90%);
  background-clip: content-box;
}
.contactCard__Smedia__icon.twitter {
  background-color: #00ACEE;
}
.contactCard__Smedia__icon.facebook {
  background-color: #3B5998;
}
@media (max-width: 1440px) {
  .contactCard {
    min-width: 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .contactCard__section {
    flex-direction: column;
  }
}

/* Formulario de contacto */
.formCnt {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.formCnt__card {
  padding: 30px;
  width: 1000px;
}
.formCnt__card .row {
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .formCnt__card .row {
    flex-direction: column;
  }
  .formCnt__card .row .col:first-child {
    margin-bottom: 10px;
  }
}
.formCnt__card .form-control, .formCnt__card .form-check-input {
  transition: border-color cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.25s;
}
.formCnt__card .form-control:focus, .formCnt__card .form-check-input:focus {
  border-color: #F2A7BB;
  box-shadow: none;
}
.formCnt__card .form-check-input:checked {
  background-color: #F2A7BB;
  border-color: #F2A7BB;
}
.formCnt__card .btn-primary {
  background-color: #F2A7BB;
  border-color: #F2A7BB;
}
.formCnt__card .btn-primary:focus {
  box-shadow: none;
}
.formCnt__card .btn-primary:active {
  background-color: #f2a7bbbe;
}
@media (max-width: 1440px) {
  .formCnt__card {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .formCnt {
    margin-top: 50px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}

h1 {
  color: #41CAD9;
  font-size: 9em;
  font-family: "Paytone One", sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(28, 91, 133, 0.719);
}

h1 span {
  color: #FFFF9C;
  font-family: "Mr De Haviland", cursive;
  font-weight: 400;
  font-size: 1.2em;
  text-shadow: 2px 2px 30px rgba(204, 221, 106, 0.938);
  display: inline-block;
}

h2 {
  color: #41CAD9;
  font-size: 80px;
  font-family: "Paytone One", sans-serif;
  font-weight: bold;
}
@media (max-width: 1440px) {
  h2 {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 38px;
  }
}

h3, legend {
  color: #514C57;
  font-size: 26px;
  font-family: "Paytone One", sans-serif;
}

.cntGeneral {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}
@media (max-width: 767px) {
  .cntGeneral {
    padding: 0 20px;
  }
}

.title {
  margin: 80px 0;
}
@media (max-width: 768px) {
  .title {
    margin: 80px 0 45px 0;
  }
}

.text {
  font-size: 25px;
}
@media (max-width: 767px) {
  .text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.textAlt {
  line-height: 40px;
}

.textItalic {
  font-style: italic;
  font-weight: bold;
  color: #dedede;
  font-size: 2em;
  text-shadow: 2px 2px 10px rgba(27, 16, 31, 0.856);
  text-align: center;
}

.textBold {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
