/* 
font-family: 'Paytone One', sans-serif;
font-family: 'Mr De Haviland', cursive;
font-family: 'Open Sans', sans-serif;
 */

 /* 
 Paleta de colores:
    Rojo: #A62E44;
    Gris: #514C57;
    gris claro: #514c579a;
    Rosa: #F2A7BB;
    Celeste: #41CAD9;
    Amarillo: #FFFF9C
    Blanco: #F7FFF4;
*/

* {
    box-sizing: border-box;
    color: #514C57;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
}

body {
    background-color: #F7FFF4;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

h1 {
    color: #41CAD9;
    font-size: 9em;
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(28, 91, 133, 0.719);
}

h1 span {
    color:  #FFFF9C;
    font-family: 'Mr De Haviland', cursive;
    font-weight: 400;
    font-size: 1.2em;
    text-shadow: 2px 2px 30px rgba(204, 221, 106, 0.938);
    display: inline-block;
}

h2 {
    color: #41CAD9;
    font-size: 80px !important;
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
}

h3, legend{
    color: #514C57;
    font-size: 26px;
    font-family: 'Paytone One', sans-serif;
}

/* barra de navegacion */

.main-nav {
    background-color: rgba(81, 76, 87, 0.60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 90px;
}

.main-nav__logo {
    width: 10%;
}

.main-nav__logo:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-3deg); }
    20% { transform: rotate(2deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-2deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-3deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

.main-nav__item {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.main-nav__link {
    justify-content: space-between;
    padding: 14px 16px;
}

.main-nav__link a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #F7FFF4;
}

.main-nav__link a:hover {
    color: #F2A7BB;
    transition: color ease-in-out .15s;
}

.main-nav__link a:hover.selected {
    border-bottom-color: #F2A7BB;
    transition: color ease-in-out .15s;
}

.main-nav__link a.selected {
    border-bottom: 2px solid #F7FFF4;
}

.cntFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 80px;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    width: 200px;
}

/* Seccion Home */
.cntHome {
    /* background-image: url(../images/swiper_3.jpg);
    background-size: cover; */
    height: 100vh;
    width: 100%;
    /* display: flex;
    justify-content: center; */
}
.cntHome .carousel-control-prev, .cntHome .carousel-control-next {
    height: 30px;
    top: 50%;
}

.carouselItem {
    height: 100vh;
}

.carouselItem1 {
    background-image: url(../images/swiper_3.jpg);
}

.carouselItem2 {
    background-image: url(../images/swiper_2.png);
    background-size: cover;
}

.carouselItem3 {
    background-image: url(../images/swiper_1.jpg);
}

.cntHome__box {
    position: absolute;
    top: 35%;
    left: 25%;
    align-self: center;
}

.cntGeneral {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.title {
    margin: 80px 0;
}

.text {
    font-size: 25px;
}

.textAlt {
    line-height: 40px;
}

.textItalic {
    font-style: italic;
    font-weight: bold;
    color: #dedede;
    font-size: 2em;
    text-shadow: 2px 2px 10px rgba(27, 16, 31, 0.856);
    text-align: center;
}

.textBold {
    font-weight: bold;
}

.bg-pattern {
    background-image: linear-gradient(rgba(255,255,255,0.93), rgba(255,255,255,.93)), 
    url(../images/pattern.jpg);
    background-repeat: repeat;
}

/* Seccion Nosotros */
.bgNosotros {
    display: inline-flex;
    height: auto;
    padding: 50px 120px;
    width: 100%;
}

.cntImg {
    display: flex;
    justify-content: left;
    width: 50%;
    gap: 20px;
}

.img{
    min-height: 200px;
    min-width: 150px;
    max-height: 400px;
    max-width: 50%;
}

.img2 {
    margin-top: 200px;
}

.cntNosotros{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.cntNosotros-description {
    display: flex;
    flex-wrap: wrap;
}

.cnt-bttn {
    width: auto;
    cursor: pointer;
}

.bttn {
    border: 4px solid #41CAD9;
    background-size: 300% 100%;
    margin-top: 20px;
    padding: 12px;
    text-decoration: none;
    font-weight: 800;
    color: #F2A7BB;
    display: inline-block;
}

.bttn:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    color: #514C57;
    
}

/* Seccion Productos */

.gridContainer {
    display: grid;
    grid-template-areas: 
    "gridItem1 gridItem1 gridItem2"
    "gridItem3 gridItem4 gridItem5"
    "gridItem3 gridItem6 gridItem6";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    width: 100%;
}

.gridItem {
    background-color: #000000;
    margin: 0;
    padding: 0;
    min-height: 550px;
    overflow: hidden;
}

.imgItem {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgItem:hover {
    transform: scale(1.02);
    transition: all ease .35s;
}

.imgItem:hover:after {
    background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .75));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.itemName {
    color: #ffffff;
    border: 5px solid #ffffff;
    padding: 20px 35px;
    font-size: 40px;
    font-weight: bold;
}

.gridItem1 {
    grid-area: gridItem1;
}

.imgItem1 {
    background-image: url('../images/tortas.jpg');
}

.gridItem2{
    grid-area: gridItem2;
}

.imgItem2 {
    background-image: url('../images/macaron.jpg');
}

.gridItem3 {
    grid-area: gridItem3;
}

.imgItem3 {
    background-image: url('../images/cupcakesProd.jpg');
}

.gridItem4 {
    grid-area: gridItem4;
}

.imgItem4 {
    background-image: url('../images/tarta.jpg');
}

.gridItem5 {
    grid-area: gridItem5;
}

.imgItem5 {
    background-image: url('../images/donut.jpg');
}

.gridItem6 {
    grid-area: gridItem6;
}

.imgItem6 {
    background-image: url('../images/cakepops.jpg');
}

/* Seccion Servicios */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.card:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.1s;
}

.bakeryCardTitle {
    color: #A62E44;
    font-weight: 700;
}

.bakeryCardText {
    font-size: 14px;
    color: #514C57;
}

.imgBox {
    background-size: cover;
    height: 280px;
}

.box1 {
    background-image: url(../images/tortaTematica.jpg);
}

.box2 {
    background-image: url(../images/mesaDulce.jpg);
}

.box3 {
    background-image: url(../images/box.jpg);
}

.box4 {
    background-image: url(../images/cookies.jpg);
}

.box5 {
    background-image: url(../images/numberCake.jpg);
}

.box6 {
    background-image: url(../images/candyBar.png);
}

/* Seccion Promos */

#promos {
    background-image: linear-gradient(rgba(255,255,255,0.93), rgba(255,255,255,.93)), 
    url(../images/pattern.jpg);
}

.cntPromos {
    display: flex;
    flex-direction: column;
}

.cntPromos-Title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cntPromos-Cards {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    order: inherit;
}

.boxCard {
    width: 30%;
    height: 450px;
}
.boxImg {
    border-radius: 5%;
    display: flex;
    width: 100%;
    height: 330px;
    background-position: center;
    background-size: cover;
}

.promo1 {
    background-image: url(../images/promo1.jpg);
}

.promo2 {    
    background-image: url(../images/promo2.jpg);
}

.promo3 {
    background-image: url(../images/promo3.jpg);
}

.boxTitle {
    width: 100%;
    background-color: #A62E44;
    height: 45px;    
    color: #dedede;
    font-size: 20px;
    font-weight: bold;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxDescription {
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
}

.boxDescription:hover {
    color: #F2A7BB;
}

/* Seccion Contacto */

.cntContacto {
    padding-top: 250px;
    background-image: url(../images/contactBg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.contactCard {
    min-width: 800px;
    background-color: white;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.contactCard__title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
}

.contactCard__section {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    align-items: center;
    padding: 35px 0;
}

.contactCard__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contactCard__icon {
    height: 40px;
    width: 40px;
    fill: #514c57d3;
}

.contactCard__icon:hover {
    fill: #F2A7BB;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;
}

.contactCard__info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactCard__iconTitle {
    font-size: 25px;
}

.contactCard__detail {
    color: #514c579a;
    font-size: 18px;
}

.contactCard__contacts{
    font-size: 25px;
}

.contactCard__Smedia {
    display: flex;
}

.contactCard__Smedia .contactCard__SMicon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px dashed gray;
    background-clip: content-box;
    padding: 4px;
    transition: .5s;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.contactCard__Smedia .contactCard__SMicon:hover {
    padding: 6px;
    transform: rotate(360deg);
}

.contactCard__Smedia .contactCard__SMicon svg {
    fill: #ffffff;
    width: 18px;
}

.contactCard__Smedia .contactCard__SMicon.whatsapp {
    background: #00e676;
    background-clip: content-box;
}

.contactCard__Smedia .contactCard__SMicon.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 05%, #fd5949 60%,#d6249f 90%);
    background-clip: content-box;
}

.contactCard__Smedia .contactCard__SMicon.twitter {
    background-color: #00ACEE;
}

.contactCard__Smedia .contactCard__SMicon.facebook {
    background-color: #3B5998;
}
  

/* Formulario de contacto */

.formCnt {
    padding: 50px 450px;

}

.formCnt__card {
    padding: 30px;
}

.formCnt__card .row {
    padding-bottom: 10px;
}

.formCnt__card .form-control,
.formCnt__card .form-check-input {
    transition: border-color cubic-bezier(0.755, 0.05, 0.855, 0.06) .25s;
}

.formCnt__card .form-control:focus,
.formCnt__card .form-check-input:focus {
    border-color: #F2A7BB;
    box-shadow: none;
}
  
.formCnt__card .form-check-input:checked {
    background-color: #F2A7BB;
    border-color: #F2A7BB;
}
  
.formCnt__card .btn-primary {
    background-color: #F2A7BB;
    border-color: #F2A7BB;
}

.formCnt__card .btn-primary:focus {
    box-shadow: none;
}

.formCnt__card .btn-primary:active {
    background-color: #f2a7bbbe;
}