 /* 
 Paleta de colores:
    Rojo: #A62E44;
    Gris: #514C57;
    gris claro: #514c579a;
    Rosa: #F2A7BB;
    Celeste: #41CAD9;
    Amarillo: #FFFF9C
    Blanco: #F7FFF4;
*/

$colorRed: #A62E44;
$colorGray: #514C57;
$colorGray2: #514c57d3;
$colorGrayLight: #514c579a;
$colorGrayTransparent: #2b2a2c99;
$colorGrayFont: #737373;
$colorPink: #F2A7BB;
$colorPinkLight: #f2a7bbbe;
$colorBlueLight: #41CAD9;
$colorTwitter: #00ACEE;
$colorYellow: #FFFF9C;
$colorYellowIntense: #f3ce00;
$colorYellowLight: #FFFEDD;
$colorWhitePure: #ffffff;
$colorWhite: #F7FFF4;
$colorBeige: #dedede;
$colorBlack: #00000020;
$colorWhatsApp: #00e676;
$colorFacebook: #3B5998;