 /* 
 Paleta de colores:
    Rojo: #A62E44;
    Gris: #514C57;
    gris claro: #514c579a;
    Rosa: #F2A7BB;
    Celeste: #41CAD9;
    Amarillo: #FFFF9C
    Blanco: #F7FFF4;
*/

$colorRed: #A62E44;
$colorGray: #514C57;
$colorGrayLight: #514c579a;
$colorPink: #F2A7BB;
$colorBlueLight: #41CAD9;
$colorYellow: #FFFF9C;
$colorWhite: #F7FFF4;